:root{
    --primary:#0090c4;
    --background-dark:#232346;
    --background-light:#fffcfc;
    --background-light-sub:#eeecec;
    --text-dark:#121223;
    --text-dark-sub:#888877;
    --text-light:#fcfcff;
    --text-light-sub:#99a;
    --border-dark:#445;
    --border-dark-sub:#99a;
    --shadow:#20202030;
    --link:#0066cc;
    --r:5px;
    --notoSansJP:"Noto Sans JP", sans-serif;
    --IBMPlexSansJP:"IBM Plex Sans JP", sans-serif;
    --zenKakuGothicNew:"Zen Kaku Gothic New", sans-serif;
}

html, body{
    margin:0;
    padding: 0;
    font-family: var(--IBMPlexSansJP);
}
body > *:not(header,footer){
    margin-left:16px;
    margin-right:16px;
}

header{
    margin:0;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index: 100;
    box-shadow: 0px 2px 8px #000a;
    height:60px;
    background-color: var(--background-light-sub);
    color:var(--text-dark);
}
header.toHome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.toHome > a{
    position:relative;
    width:40%;
    margin-left:0;
    margin-right: 16px;
}
header.toHome > a > img{
    width: min(223px, 100%);
}
header.toHome > h1{
    font-size: medium;
    font-weight: 400;
    font-family: var(--IBMPlexSansJP);
    color:var(--text-dark);
    padding-right: 1rem;
}

a{
    color:#0044dd;
    text-decoration: underline;
}

.spacerM{
    height:60px;
}

.smallText{
    font-size:small;
    color: var(--text-dark-sub);
}