#wrapper{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-dark);
    color:var(--text-light);
}
#board{
    width:20rem;
}
#board > *{
    text-align: center;
    color: var(--text-light);
}
#input{
    display: flex;
    justify-content: center;
}
input{
    width:10rem;
    font-size: 2rem;
    text-align: center;
    color:var(--text-dark);
    border:none;
    border-radius: var(--r);
    background-color: var(--background-light);
    margin:1rem;
    margin:8px;
}
button{
    font-size: 1rem;
    line-height: 2rem;
    background-color: var(--primary);
    color:var(--text-light);
    border:none;
    border-radius: var(--r);
    margin:8px;
    padding:0 1em;
}
#loadingText{
    display:none;
    font-size: 2rem;
}
.annotation{
    color:var(--text-light-sub) !important;
    font-size: .8em;
}