#wrapper > *{
    margin: 64px 2vw;
}

#goodsGallery{
    position: relative;
    width:92vw;
    height:200px;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
}
.goods_board{
    width:160px !important;
    aspect-ratio: 1 / 1;
}

#newsArea{
    border:1px solid var(--border-dark-sub);
    height:20rem;
    overflow-y: scroll;
}
.news{
    position:relative;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    margin:0px 0px 64px 0px;
    padding: 1rem;
}
.news_title{
    font-size: 1.2em;
    font-weight: bold;
    margin:0;
}
.news_content{
    width:min(100%, 40em);
}
.news_date{
    color:var(--text-dark-sub);
    margin:0;
}

footer{
    padding:2vw;
    background-color: var(--background-dark);
    display: flex;
    flex-wrap: wrap;
}
footer > div{
    width:100%;
    background-color: var(--background-light-sub);
    padding:4vw;
    margin:16px;
    color:var(--text-dark);
}
footer h2, footer h3{
    color:var(--primary);
    font-weight: 500;
}
footer h3, footer p{
    padding-left: 1rem;
}