#wrapper > *{
    margin: 64px 2vw;
}
h1,h2,h3{
    color:var(--primary);
}
#topVisual{
    position:relative;
    width:100%;
    margin:0;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 2 / 1;
}
#topImg{
    width:max(750px, 100%);
    aspect-ratio: 2 / 1;
}

#catchcopyArea{
    margin:8px 0;
}
#catchcopy{
    font-size: 2rem;
    font-family: var(--zenKakuGothicNew);
    color:var(--primary);
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
}
#catchcopy_sub{
    font-family: var(--zenKakuGothicNew);
}
#goodsGallery{
    position: relative;
    width:92vw;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    display: flex;
    flex-wrap: nowrap;
}
.goods_board{
    width:160px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    scroll-snap-align: start;
}

#newsArea{
    border:1px solid var(--border-dark-sub);
    height:20rem;
    overflow-y: scroll;
}
.news{
    position:relative;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    margin:0px 0px 64px 0px;
    padding: 1rem;
}
.news_title{
    font-size: 1.2em;
    font-weight: bold;
    margin:0;
}
.news_content{
    width:min(100%, 40em);
}
.news_date{
    color:var(--text-dark-sub);
    margin:0;
}

footer{
    padding:2vw;
    background-color: var(--background-dark);
    display: flex;
    flex-wrap: wrap;
}
footer > div{
    width:100%;
    background-color: var(--background-light-sub);
    padding:4vw;
    margin:16px;
    color:var(--text-dark);
}
footer h2, footer h3{
    color:var(--text-dark);
    font-weight: 600;
}
footer h3, footer p{
    padding-left: 1rem;
}
footer a>h2, footer a>h3{
    color:var(--link);
}