body{
    background-color: var(--background-light-sub);
}
*{
    font-family: var(--IBMPlexSansJP);
}
#logOutButton{
    border:none;
    height:40px;
    margin:0 8px;
    background-color: transparent;
}

#createThreadsButton{
    margin:16px;
    width:calc(100% - 32px);
    padding:8px;
    color:var(--text-light);
    border:none;
    border-radius: var(--r);
    background-color: var(--primary);
    font-weight: 600;
    font-size: 1.2rem;
    box-shadow: 0px 2px 8px var(--shadow);
}
.thread{
    border-radius: var(--r);
    box-shadow: 0px 2px 8px var(--shadow);
    margin:16px;
    padding:8px 16px;
    background-color: var(--background-light);
}
.thread_title{
    font-weight: 600;
    margin:4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thread_explanation{
    margin:4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.thread_date{
    color:var(--text-dark-sub);
    margin:8px;
}
h1{
    padding: 0 !important;
}



#fileTitle{
    font-weight: 500;
    margin-top:16px;
    margin-bottom: 4px;
}
#fileArea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fileTips{
    position: relative;
    width:10rem;
    display: flex;
    align-content: center;
    background-color: var(--background-light-sub);
    border-radius: var(--r);
    padding:2px;
    margin:4px;
    border:solid 1px var(--border-dark-sub);
    box-shadow: 0px 2px 8px var(--shadow);
}
.fileName{
    display: inline-block;
    width:5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
}